artisan

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/bootstrap
/config
/database
/storage
/app/Providers

server.php
readme.md
phpunit.xml
package.json
composer.json
composer.lock
webpack.mix.js

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

